/* body style */
body  {
    /* image used is from shutterstock */
    background-image: url("math-bg.jpg");
    background-color: #cccccc;
  }

/* h1 style; titles */
h1 {
    font-size: 30px;
    font-family: URW Chancery L, cursive;
    padding: 10px;
    border: 10px solid rgb(0, 0, 0);
    width: 500px;
    border-style: outset;
    margin: 10px;

}

/* paragraph style for: 'Information' */
p {
    font-size: 15px;
    font-family: Chalkduster, fantasy;
    margin: 50px;
}

/* label styles for 'select a shape, radius */
label {
    font-size: 20px;
    margin: 50px;
}

/* h2 styles for the formula of the areas */
h2 {
    font-size: 50px;
    margin: 50px;
}

/* output style for the result after pressing "calculate area"  */
#id_output {
    font-family: Gill Sans, sans-serif;
    font-weight: 600;
    font-size: 40px;
}





